<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block scripts %}

    {% endblock %}
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    {% endblock %}
    <title>{% block title %}I²CL{% endblock %}</title>
</head>
<body>
{% block navbar %}
    <div class="navbar">
        <div class="links">
            <a href="/">I²CL</a>
        </div>
        <a class="isu-logo-container" href="https://isu.edu/"><img class="isu-logo" alt="Idaho State University Logo"
                                        src="{{ url_for('static', filename='images/ISU-stacked.svg') }}"></a>
        <a id="contribute" href="#">Contribute</a>
    </div>
{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>