{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
{% block content %}
    <div class="banner">
        <div class="welcome-statement">Welcome to the ISU Industrial Cybersecurity Library</div>
        <div class="slogan">Effective cybersecurity curriculum at your fingertips</div>
    </div>
    <form class="search-container">
        <label for="search"></label><input type="search" id="search"
                                           placeholder="Search by author, title, tag, keyword...">
        <div class="search-controls-container">
            <a class="lnk-browse-all" href="#">Browse All...</a>
            <button class="btn-search" type="submit">Search</button>
        </div>
    </form>
{% endblock %}