{% extends "base.html" %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='scripts/modules.js') }}" type="text/javascript"></script>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/css/modules.css') }}">
{% endblock %}
{% block content %}
    <div class="modules-container">
        {% for module in modules %}
            <div class="module" data-id="{{ module.id }}">
                <div class="area-container">
                    <div class="area">{{ module.units[0].areas[0].name }}</div>
                </div>
                <div class="info-container">
                    <div class="title">{{ module.name }}</div>
                    <div class="author">- {{ module.author }}</div>
                    <div class="unit-container">
                        {% for unit in module.units %}
                            <div class="unit">{{ unit.name }}</div>
                        {% endfor %}
                    </div>
                    <div class="description">{{ module.description }}</div>
                    <div class="keyword-date-container">
                        <div class="keyword-container">
                            {% for keyword in module.keywords %}
                                <div class="keyword"><span class="keyword-name">{{ keyword.name }}</span>{% if keyword.acronym != '' %} <span class="keyword-acronym">({{ keyword.acronym }})</span>{% endif %}</div>
                            {% endfor %}
                        </div>
                        <div class="date-added">{{ module.date_added }}</div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{#                {% for file in module.files %}#}
{#                    <div class="file">#}
{#                        <div class="name">{{ file.name }}</div>#}
{#                        <div class="date-added">{{ file.date_added }}</div>#}
{#                    </div>#}
{#                {% endfor %}#}
{#                {% for link in module.links %}#}
{#                    <div class="link">#}
{#                        <div class="url">{{ link.name }}</div>#}
{#                    </div>#}
{#                {% endfor %}#}