@import variables

@use "sass:math"

@mixin flex-box($justify, $align, $wrap:wrap)
  display: flex
  justify-content: $justify
  align-content: $align
  flex-wrap: $wrap

@mixin margin-top-bottom($top, $bot)
  margin-top: $top
  margin-bottom: $bot

@mixin btn($color, $size, $size-type:1rem)
  text-align: center
  cursor: pointer
  margin: ($size / 3 * $size-type)
  padding: ($size / 3 * $size-type)
  font-size: $size * $size-type
  background: $color
  @if lightness($color) > 40%
    color: $black
  @else
    color: $white
  border-radius: 5px
  border: 0 solid transparent
  transition: background 0.5s ease
  &:hover
    background: darken($color, 15%)
