@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap')

$roarange: #f47920
$roarange-light: #f69240
$growling-gray-light: #e6e7e8
$growling-gray-medium: #a7a7a7
$growling-gray: #828282
$bengal-black: #000000

$primary-color: $roarange
$secondary-color: $roarange-light

$font-stack: 'Roboto', Helvetica, Arial, sans-serif