@import variables
@import mixins
@import placeholders

*, *:before, *:after
  box-sizing: inherit

body, html
  margin: 0
  padding: 0
  font-size: 18px
  font-family: $font-stack
  color: $almost-black
  background: $dark-white
  -webkit-box-sizing: border-box !important
  -moz-box-sizing: border-box !important
  box-sizing: border-box !important
  scroll-behavior: smooth

.navbar
  position: sticky
  top: 0
  left: 0
  z-index: 10
  width: 100%
  height: 75px
  background: $white
  @include flex-box(space-between, center, center)
  box-shadow: 0 2px 8px adjust-color($dark-gray, $alpha: -0.33)

  a
    @include flex-box(center, center)
    text-decoration: none
    color: $almost-black
    font-size: 1.5rem
    margin: 0 25px
    font-weight: bold

.links
  height: 100%
  @include flex-box(center, center)

.iicl-logo
  width: 110px

.isu-logo-container
  margin: 0
  height: 80%

.isu-logo
  height: 100%

#contribute
  font-size: 1.2rem
  border: 2px solid $almost-black
  border-radius: 10px
  padding: 4px 6px
  @include transition(background 0.5s ease, color 0.5s ease)
  @include flex-box(center, center)

  &:hover
    background: $almost-black
    color: $white

.search-container
  width: 100%
  margin: 15px auto
  text-align: center
  position: relative

#search
  width: 60%
  font-size: 1.5rem
  border-radius: 10px
  outline: none
  border: 2px solid $growling-gray-light
  padding: 10px 50px
  flex-basis: 100%

.search-controls-container
  position: absolute
  right: 20%
  text-align: right
  width: 25%

.btn-search
  @include btn($secondary-color, 1.2)

.footer
  //margin-top: 150px
  width: 100%
  background: $dark-gray
  height: 10vh