@import variables
@import mixins

.banner
  width: 100%
  height: 40vh
  text-align: center
  background: $growling-gray-light
  display: flex
  justify-content: center
  align-content: center
  flex-wrap: wrap

%flex-full-row
  width: 100%
  margin: 5px 0

.welcome-statement
  @extend %flex-full-row
  font-size: 2.5rem

.slogan
  @extend %flex-full-row
  font-size: 1.6rem
  color: $primary-color

.search-container
  width: 60%
  margin: 15px auto
  text-align: center
  position: relative

#search
  width: 100%
  font-size: 1.5rem
  border-radius: 10px
  outline: none
  border: 2px solid $growling-gray-light
  padding: 10px 50px
  flex-basis: 100%

.search-controls-container
  position: absolute
  right: 15px
  text-align: right
  width: 25%

.lnk-browse-all
  text-decoration: none
  font-size: 0.8rem
  color: $growling-gray
  &:hover
    color: darken($growling-gray, 10%)

.btn-search
  @include btn($secondary-color, 1.2)