@import placeholders
@import mixins
@import variables

$module-height: 12.5rem

.module-container
  @include flex-box(center, center)
  width: 60%
  margin: 50px auto

.module
  @extend %no-select
  cursor: pointer
  @include flex-box(flex-start, center)
  width: 100%
  height: $module-height
  margin: 25px auto
  @extend %card
  @include transition(box-shadow 0.25s ease, transform 0.25s ease)
  pointer-events: auto

  &:hover
    @extend %card-hover

  &:active
    @extend %card-active


.area-container
  @include flex-box(center, center)
  width: $module-height
  height: $module-height
  background-image: radial-gradient(circle, $roarange 0%, darken($roarange, 15%) 100%)
  //border: 2px solid $growling-gray
  border-right: 0 solid transparent
  border-radius: 5px 0 0 5px

.area
  background: adjust-color($white, $alpha: -0.33)
  width: 100%
  text-align: center
  font-size: 1.2rem
  font-weight: bold
  pointer-events: auto

  &:hover
    background: $white

.info-container
  @include flex-box(flex-start, space-evenly)
  width: calc(100% - #{$module-height})
  padding: 10px 25px
  font-size: 0.7rem
//border: 2px solid $growling-gray

.area-container, .info-container
  pointer-events: none

.title, .author, .unit-container, .keyword-date-container
  width: 100%

.title
  font-size: 1rem
  font-weight: bold

.keyword-date-container
  @include flex-box(space-between, center)

.author, .description, .date-added
  color: $dark-gray

.description
  width: 80%
  white-space: nowrap
  overflow: hidden
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis
